/* Stylize the universal selector for all HTML elements */
* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylize the body element */
body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

/* Stylize the heading */
h1{
    text-align: center;
    font-size: 46px;
}

/* Stylize the containers for interactive features */
.features {
    display: flex;
    flex-direction: row;
    height: 600px;
}

/* Stylize the sketchpad */
#grid-container {
    flex: 3;
    margin-left: 328px;
    margin-right: 50px;
}

/* Stylize the supplemental features adjacent to the sketchpad */
#additional-features {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Stylize the instruction located at the bottom of the sketchpad */
#message {
    text-align: center;
    font-size: 36px;
}