/* Stylize the universal selector for all HTML elements */
* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylize the body element */
body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}